@model ICDE.Web.Models.Cursus.BekijkCursusViewModel;

@{
    ViewData["Title"] = "Bekijk cursus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bekijk & update cursus</h1>
<a href="/auteur/cursus/@Model.Cursus.GroupId/kopie/@Model.Cursus.VersieNummer">Maak kopie</a>
<a href="/auteur/cursus/delete/@Model.Cursus.GroupId/@Model.Cursus.VersieNummer">Verwijder versie</a>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data" asp-action="UpdateCursus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="GroupId" class="form-control" value="@Model.Cursus.GroupId" hidden />
            <div class="form-group">
                <label name="Naam" class="control-label">Naam</label>
                <input name="Naam" class="form-control" value="@Model.Cursus.Naam" />
            </div>
            <div class="form-group">
                <label name="Beschrijving" class="control-label">Beschrijving</label>
                <input name="Beschrijving" class="form-control" value="@Model.Cursus.Beschrijving" />
            </div>
            <div class="form-group">
                <label name="Beschrijving" class="control-label">CursusMateriaal</label>
                <input name="Beschrijving" class="form-control" value="@Model.Cursus.CursusMateriaal" />
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h4> Eerdere versies</h4>
        @if (Model.EerderVersies.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Beschrijving</th>
                        <th>VersieNummer</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.EerderVersies)
                    {
                        <tr>
                            <td>@item.Naam</td>
                            <td>@item.Beschrijving</td>
                            <td>@item.VersieNummer</td>
                            <td><a href="/auteur/cursus/@item.GroupId/bekijkversie/@item.VersieNummer">Bekijk</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    <div class="col-md-6">
        <h4> Gekoppelde Leeruitkomsten</h4>
        @if (Model.Cursus.Leeruitkomsten.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Beschrijving</th>
                        <th>VersieNummer</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Cursus.Leeruitkomsten)
                    {
                        <tr>
                            <td>@item.Naam</td>
                            <td>@item.Beschrijving</td>
                            <td>@item.VersieNummer</td>
                            <td><a href="/auteur/cursus/@Model.Cursus.GroupId/verwijderluk/@item.GroupId">Verwijder luk</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    <div class="col-md-6">
        <h4> Koppel Leeruitkomsten</h4>
        @if (Model.Leeruitkomsten.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Beschrijving</th>
                        <th>VersieNummer</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Leeruitkomsten)
                    {
                        <tr>
                            <td>@item.Naam</td>
                            <td>@item.Beschrijving</td>
                            <td>@item.VersieNummer</td>
                            <td><a href="/auteur/cursus/@Model.Cursus.GroupId/koppelluk/@item.GroupId">Koppel luk</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-6">
        <h4> Planning </h4>

        @if (Model.Cursus.Planning != null && Model.Cursus.Planning.Items.Count > 0)
        {
            <a href="/auteur/planning/bekijk/@Model.Cursus.Planning.Id">Bekijk planning</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Naam</th>
                        <th>Leeruitkomsten</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Cursus.Planning.Items.OrderBy(x => x.Index))
                    {
                        <tr>
                            <td>@item.Index</td>
                            <td>@item.PlanningItemNaam</td>
                            <td>@string.Join(",", item.Leeruitkomsten)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

