@using ICDE.Web.Models.Rapportage
@model RapportageResultViewModel
@{
    ViewData["Title"] = "Genereer rapportage";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int ctr = 0;
}

<h1>Genereer rapportage</h1>

<h3>De rapportage voor @Model.Type is @(Model.Success == true ? "geslaagd" : "gefaald")</h3>
<a href="/auteur/rapportage/@Model.Type/@Model.GroupId/download">Download rapportage</a>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2> Opleidingen </h2>
        @if (Model.Results.Count > 0)
        {

            ctr += 1;

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Succes</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model.Results)
                    {
                        @foreach (var message in result.Messages)
                        {
                            <tr>
                                <td>@ctr</td>
                                <td>@result.Success</td>
                                <td>@message</td>
                            </tr>
                        }
                        ctr += 1;
                    }
                </tbody>
            </table>
        }
    </div>
</div>

