@model ICDE.Web.Models.Opleiding.BekijkOpleidingViewModel;

@{
    ViewData["Title"] = "Bekijk opleiding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bekijk & update opleiding</h1>

<h4>Bekijk & update opleiding</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data" asp-action="UpdateLeeruitkomst">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <input name="Id" class="form-control" value="@Model.Opleiding.Id" hidden /> *@
            <div class="form-group">
                <label name="Naam" class="control-label"></label>
                <input name="Naam" class="form-control" value="@Model.Opleiding.Naam" />
                <span name="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="Beschrijving" class="control-label"></label>
                <input name="Beschrijving" class="form-control" value="@Model.Opleiding.Beschrijving" />
                <span name="Beschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h4> Eerdere versies</h4>
        @if (Model.EerdereVersies.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Beschrijving</th>
                        <th>VersieNummer</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.EerdereVersies)
                    {
                        <tr>
                            <td>@item.Naam</td>
                            <td>@item.Beschrijving</td>
                            <td>@item.VersieNummer</td>
                            <td><a href="/auteur/leeruitkomst/bekijkversie/@item.GroupId/@item.VersieNummer">Bekijk</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-6">
        <h4> Gekoppelde vakken</h4>
        @if (Model.Opleiding.Vakken.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Beschrijving</th>
                        <th>VersieNummer</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Opleiding.Vakken)
                    {
                        <tr>
                            <td>@item.Naam</td>
                            <td>@item.Beschrijving</td>
                            <td>@item.VersieNummer</td>
                            <td><a href="/auteur/leeruitkomst/bekijkversie/@item.GroupId/@item.VersieNummer">Bekijk</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-6">
        <h4> Koppel vakken</h4>
        @if (Model.BeschikbareVakken.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Beschrijving</th>
                        <th>VersieNummer</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BeschikbareVakken)
                    {
                        <tr>
                            <td>@item.Naam</td>
                            <td>@item.Beschrijving</td>
                            <td>@item.VersieNummer</td>
                            <td><a href="/auteur/opleiding/koppelvak/@Model.Opleiding.GroupId/@item.GroupId">Koppel</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

